@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=D9C69396-AB0D-4CE2-9FEF-82DD7BB4CF28


@infragistics:registry=https://packages.infragistics.com/npm/js-licensed/
//packages.infragistics.com/npm/js-licensed/:_auth=YXBpOjJlMjNxKG5vIGRlc2NyaXB0aW9uKWFlNzIwMjAwODI0MjAyNzA2ZWQwZTAyYjg0ZWFl
//packages.infragistics.com/npm/js-licensed/:username=kate.sky@aon.com
//packages.infragistics.com/npm/js-licensed/:always-auth=true
