
.header-nav {
    background-color: #4bbbec;
    height: 35px;
}
.link-nav {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    font-weight: bold;
    &:hover {
        text-decoration: none;
    }
}
.ul-nav > li:first-child {
    padding-left: 0;
}
.ul-nav {
    margin-top:5px;
    padding-left: 0px;
    li {
        margin-left: 0;
        padding-left: 0;
        list-style: none;
    }
}
