.loading-mask {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
  height: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  background: url(~src/assets/img/loading-mask.gif) no-repeat 50% 50% #000;
  opacity: 0; 
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.loading-mask.active {
  z-index: 999;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3
}