
$background-color1: #ffffff;
$background-color2: #f2f2f2;
$highlight-color: #cc0000;
$text-color: #333333;
$text-color2: #999999;
$text-color3: #666666;
$blue-on-white-color: #0d94bb;
$blue-on-black-color: #0685a9;
$secondary-color: $highlight-color;
$primary-color: $text-color;
$border-color: #cccccc; 
$border-disabled-color: #999999;
$border-focused-color: #0D94BB;                                                  
$border-highlight-color:   rgba(204,0,0,0.35);
$border-highlight: 2px 3px 5px 0px rgba(204,0,0,0.35);
$aon-font-family: "Arial Regular", "Arial";
$aon-font-size: 12px;
$aon-padding-left: 0px;